In [3]:
import tensorflow as tf
import numpy as np
from tensorflow.keras.models import load_model
import pickle
import pandas as pd

In [5]:
### loadingpickle models
ann_model = load_model("ANN_Model.h5")

with open("preprocessor_model.pkl", "rb") as file:
    preprocessor = pickle.load(file)

WARNING:tensorflow:From d:\CODDING\Python\Python_Programs\Projects\DL-Project_1\myenv\lib\site-packages\keras\src\backend.py:1398: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

In [6]:
## Example input data
input_data = {
    "CreditScore" : 600,
    "Geography" : "France",
    "Gender" : "Male",
    "Age" : 40,
    "Tenure" : 3,
    "Balance" : 60000,
    "NumOfProducts" : 2,
    "HasCrCard" : 1,
    "IsActiveMember" : 1,
    "EstimatedSalary" : 50000
}

In [8]:
input_df = pd.DataFrame([input_data])
input_df

   CreditScore Geography Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          600    France   Male  ...          1               1            50000

[1 rows x 10 columns]

In [10]:
input_scaled_array = preprocessor.transform(input_df)

In [12]:
input_scaled_array.shape

(1, 12)

In [14]:
y_pred_prob = ann_model.predict(input_scaled_array)

1/1 [==============================] - 0s 302ms/step

In [26]:
y_pred_prob[0][0]

0.073275395

In [ ]:
y_pred = [1 if y_pred_prob>0.5 else 0 ]

In [19]:
if y_pred == 1:
    print("Customer is likely to Churn!")
else:
    print("Customer is unlikely to Churn!")

Customer is unlikely to Churn!